In [36]:
#import dependencies 
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests

In [37]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [38]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [39]:
html = browser.html
soup = bs(html, "html.parser")

In [40]:
#Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text
news_title = soup.find("div", class_= "content_title").text
news_p = soup.find("div", class_= "article_teaser_body").text
print(news_title)
print(news_p)

NASA's Briefcase-Size MarCO Satellite Picks Up Honors
The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.

In [41]:
#Visit the url for JPL Featured Space Image
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

In [42]:
html = browser.html
soup = bs(html, "html.parser")

In [43]:
#collect and print featured image url
featured_image_url = []
images = soup.find_all("a", class_= "fancybox")
for image in images:
    image = image['data-fancybox-href']
    featured_image_url.append(image)
    
print("https://www.jpl.nasa.gov" + featured_image_url[0])

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19808_ip.jpg

In [44]:
#Visit the Mars Weather twitter account
mars_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_url)

In [45]:
response = requests.get(mars_url)
soup = bs(response.text, "html.parser")

In [46]:
#scrape the latest Mars weather tweet from the page
mars_weather = []
tweets = soup.find_all("div", class_= "content")
for tweet in tweets:
    tweet = tweet.find("div", class_= "js-tweet-text-container").text
    mars_weather.append(tweet)

print(mars_weather[0])

InSight sol 359 (2019-11-30) low -99.3ºC (-146.8ºF) high -21.8ºC (-7.2ºF)
winds from the SSE at 5.8 m/s (13.0 mph) gusting to 23.3 m/s (52.0 mph)
pressure at 6.70 hPapic.twitter.com/cKJj2YTDad

In [54]:
#Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet
mars_facts_url = "https://space-facts.com/mars/"
fact_table = pd.read_html(mars_facts_url)
mars_df = fact_table[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [58]:
#convert the data to a HTML table string
mars_html = mars_df.to_html()
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [62]:
#url not working
hemispheres_url ="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)

In [63]:
html = browser.html
soup = bs(html, "html.parser")

In [ ]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]